.ContactUsPage {
  padding: 1rem;
}

.ContactUsPage h2,
.Name,
.Email,
.Phone,
.Message {
  margin-bottom: 1rem;
}

.Name,
.Email,
.Phone,
.Message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.14);
  border-radius: 0.5rem;
}

.Name input,
.Email input,
.Phone input,
.Message textarea {
  border: 1px solid var(--borderColor);
  border-radius: 5rem;
  padding: 0.5rem 0.75rem;
  width: 50%;
}

.Message textarea {
  border-radius: 0.5rem;
  height: 5rem;
  resize: none;
  font-family: "Roboto", sans-serif;
}

.ContactUsPage button {
  width: 100%;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.Active {
  background-color: var(--orange);
  color: var(--almostWhite);
}

@media (min-width: 768px) {
  .ContactUsPage {
    padding: 1rem 2rem;
  }

  .ContactUsPage h2,
  .Name,
  .Email,
  .Phone,
  .Message {
    margin-bottom: 1.5rem;
  }

  .ContactUsPage form {
    width: 70%;
    margin: 0 auto;
  }

  .Name,
  .Email,
  .Phone,
  .Message {
    padding: 1.25rem 1rem;
  }

  .Message textarea {
    height: 7rem;
  }

  .Name h4,
  .Email h4,
  .Phone h4 {
    font-size: 1.1rem;
  }

  .ContactUsPage button {
    padding: 1.25rem;
    font-size: 1.1rem;
  }
}

@media (min-width: 1024px) {
  .ContactUsPage {
    padding: 2rem 4rem;
  }

  .ContactUsPage h2,
  .Name,
  .Email,
  .Phone,
  .Message {
    margin-bottom: 2rem;
  }

  .ContactUsPage form {
    width: 60%;
  }

  .Name,
  .Email,
  .Phone,
  .Message {
    padding: 1.35rem;
  }

  .Message textarea {
    height: 8rem;
  }

  .Name input,
  .Email input,
  .Phone input,
  .Message textarea {
    padding: 0.75rem 1rem;
  }
}
