.DesktopNav {
  display: none;
}

@media (min-width: 1024px) {
  .DesktopNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Logo {
    cursor: pointer;
  }

  .DesktopNav ul {
    display: flex;
    align-items: center;
  }

  .NavLink {
    padding: 0.5rem 1.5rem;
    color: var(--grey);
  }

  .NavLink.Active {
    color: var(--orange);
  }

  .NavLink:hover {
    color: var(--darkGrey);
  }

  .Social svg {
    font-size: 1.3rem;
    margin-left: 1.5rem;
    cursor: pointer;
  }
}
