.Hero {
  position: relative;
}

.Content {
  position: absolute;
  z-index: 1;
  padding: 1rem;
  margin-top: 0.5rem;
}

.Content p {
  font-size: 0.9rem;
  color: var(--grey);
}

.Cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.14);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  width: 75%;
  text-align: center;
}

.Card svg,
.Card a,
.Card p:nth-child(2) {
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: var(--darkGrey);
}

.Card svg {
  font-size: 1.5rem;
  color: #ffa200;
}

.Card p:nth-child(3) {
  color: var(--grey);
  font-size: 0.8rem;
}

@media (min-width: 810px) {
  .Content {
    top: 4.5rem;
    padding: 2rem;
  }

  .Content h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }

  .Content p {
    font-size: 1.75rem;
  }

  .Cards {
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
  }

  .Card {
    width: 24%;
    margin-left: 1rem;
    border-radius: 0.5rem;
    padding: 2rem 1rem;
  }

  .Card p {
    font-size: 1rem;
  }
}
